body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 2em;
    text-align: center;
    border-bottom: 5px solid #b0e0e6;
    border-radius: 0 0 20px 20px;
}

nav {
    text-align: center;
    margin: 0.5em 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5em;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    padding: 0.3em 0.7em;
    background-color: rgb(244, 208, 140);
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ffb6c1;
}

.content {
    text-align: center;
    padding: 2em;
}

.content h2 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-bottom: 1em;
}

.content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content ul li {
    display: flex;
    align-items: center;
    background-color: lightblue;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    justify-content: space-between; /* Adjusted to space items evenly */
}

.content ul li:hover {
    transform: scale(1.05);
    background-color: rgb(244, 208, 140);
}

.content ul li img {
    width: 100px; 
    height: auto;
    border-radius: 10px;
    margin-left: 1em; 
}

.content ul li .text {
    flex: 1; 
    text-align: left; 
}

.content ul li h3 {
   font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.content ul li p {
    margin: 0.5em 0;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    border-top: 5px solid #b0e0e6;
    border-radius: 20px 20px 0 0;
}
